@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  box-sizing: border-box;
  padding: 0;
  border: 0;
}

html{
  font-size: 62.5%;
}

body {
  background-color: #150e28;
  color: #fff;
}
